
:root{
  --lightpink:#FFD3E7;
  --accent:#B57AA9;
  --accent-dark:#4E0054;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
   margin: 0;
   padding: 0;
   color:var(--accent-dark);
 
}

h1 {
  font-family: 'Jua', sans-serif;
}

header {
    background-color: var(--accent);
    color: var(--accent-dark);
    display: flex;
    flex-direction: row;
    height: 5%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px;
}

.container{max-width:1000px;margin:0 auto;padding:0 20px}

nav{padding-right:16px}

nav a{
    color:var(--accent-dark);
    text-decoration:none;
    margin-left:14px;
    font-weight:600;
    font-size: 20px;
}
nav a:hover{
    text-decoration:underline;
}

#landing{
  position: relative;
  padding:48px 0 36px;
  text-align:center;
  background:var(--lightpink);
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 60vh;
    gap:12px;
}
#landing h1{
    padding-top:10px;
    font-size:80px;
    color:var(--accent-dark);
    letter-spacing:1px;
    margin-bottom:8px;
}
#landing p{
    max-width:720px;
    font-size: 25px;
    color:#5a2f4f;
}

.hero-images{
    position: relative;
}

#yarnline {
    position: absolute;
    width: 70vw; 
    max-width: none;
    left: 20vw;  
    bottom: 4%;
    z-index: 1;   
    pointer-events: none;
}
#yarn{ 
    animation: yarnspin 10s linear infinite;
    position: absolute;
    width: 12vw;
    max-width: 140px;
    right: 4%;
    top: 6%;
    z-index: 3; 
}
@keyframes yarnspin {
    from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
#cat{
    position: absolute;
    width: 15vw;
    max-width: 220px;
    left: 3%;
    bottom: 5%;
    z-index: 2; 
}
/* About section */
#about{
    background-color: var(--accent);
    padding: 45px;
    display:flex;
    flex-direction:column;
    gap:20px;
    position: relative;
}
#about h1{
    font-size:60px;
    color:var(--accent-dark);
    margin-bottom:px;
    left: 30%;
}
#about p{
 margin: 0 auto; 
    line-height:1.6;
    font-size: 20px;
    color:var(--accent-dark);
    left: 50%;
}

.about-images {
    position: relative;
}

@keyframes crane {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }

}
@keyframes crane2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }

}
#crane1 {
    animation: crane 4s ease infinite;
    position: absolute;
    width: 10vw; 
    max-width: none;
    left: 5vw;  
    bottom:30%;
    z-index: 1;   
    pointer-events: none;
}
#crane2{ 
    animation: crane 4s ease infinite;
    position: absolute;
    width: 100vw;
    max-width: 140px;
    right: 4%;
    top: 60%;
    z-index: 3; 
    pointer-events: none;
}   
#crane3{ 
    animation: crane2 4s ease infinite;
    position: absolute;
    width: 100vw;
    max-width: 140px;
    left: 50%;
    top: 6%;
    z-index: 3; 
    pointer-events: none;
}   
/* Events section */
#events{
    padding:45px;
    padding-bottom:200px;
    background-color: var(--lightpink);
    position: relative;
     display:flex;
    flex-direction:column;
}
#events h1{
    text-align: right;
    font-size: 60px;
    left: 80%;
    color:var(--accent-dark);
}

#events p{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

.event-images {
    position: relative;
}

@keyframes crane {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

#beadstop {
    position: absolute;
    width: 25vw; 
    max-width: none;
    left: 3vw;  
    top:0%;
    z-index: 1;   
    pointer-events: none;
}
#beads{ 
    position: absolute;
    width: 25vw;
    right: 4%;
    bottom: 0;
    z-index: 3; 
    pointer-events: none;
}  
@keyframes kbitty {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

}
#kbitty{ 
    animation: kbitty 4s linear infinite;
    position: absolute;
    width: 100vw;
    max-width: 140px;
    left: 5%;
    top: 60%;
    z-index: 3; 
    pointer-events: none;
}
/* Contact / footer */
#contact{
    background:var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


